/* Set the background of the entire webpage using a linear gradient */
body {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(240, 87, 87));
}

/* Apply styles to both the 'html' and 'body' elements */
html,
body {
  /* Make the 'html' and 'body' elements take up the full height of the viewport */
  height: 100%;
  /* Use flexbox to center the content both horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for 'h1' elements */
h1 {
  /* Remove any default margin from the top of 'h1' elements */
  margin-top: 0;
}

/* Styles for the overlay and popup */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}

/* Close button style */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}